<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/sign_in.css">
</head>
<body>
 <h2>新規登録</h2>
 <div class="log">
 <form action="/signup" method="post">
    <input type="text" name="major" placeholder="学部"><br>
    <input type="text" name="user_name" placeholder="ユーザーネーム"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
    <input type="submit" class="button" value="新規登録">
 </form>
</div>
</body>
</html>
